@charset "utf-8";
//主颜色
$mc1: #1EB9EE;
$mco1: rgba(30, 185, 238, .8);
$mco2: rgba(30, 185, 238, .5);
$mco3: rgba(30, 185, 238, .2);
$mc2: #7FD5F2;
$mc3: #8EDBF5;
$mc4: #8ECCF5;
$mc5: #65BFFB;
$mc6: #75A6E9;
//字体颜色
$fc1: #333;
$fc2: #666;
$fc3: #999;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f2f2f2; // 95
$hc4: #505050;

$white: #fff;
$white-8: rgba(255,255,255,.8);
$white-2: rgba(255,255,255,.2);
$white-5: rgba(255,255,255,.5);
$white-3: rgba(255,255,255,.3);
$black: #000;
$black-1: rgba(0,0,0,.1);