.header {
  height: 80px;
  line-height: 24px; }
  .header .logo {
    float: left;
    width: 154px;
    margin: 20px 0 0 0;
    transition: none; }
  .header .nav {
    float: left; }
    .header .nav li {
      float: left; }
      .header .nav li > a {
        display: block;
        padding: 28px 0;
        font-size: 16px;
        color: #333; }

.mtop {
  height: 80px; }

.pbanner {
  color: #fff; }
  .pbanner .txts {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0;
    bottom: 0; }
  .pbanner .ch {
    position: relative;
    font-size: 50px; }
    .pbanner .ch:before {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -25px;
      bottom: 0;
      width: 50px;
      height: 5px;
      background: #fff; }
