.banner{
    .pic2{
        position: absolute;
        top: 0;
        left: 0;
    }
    .txts{
        position: absolute;
        left: 10%;
        right: 10%;
        bottom: (394 / 950) * 100%;
        margin-bottom: 80px;
        color: $white;
    }
    .ch{
        font-size: 50px;
    }
    .en{
        margin-top: 6px;
        text-transform: uppercase;
        font-size: 26px;
    }
    .slick-dots{
        bottom: (394 / 950) * 100%;
        li{
            width: 16px;
            height: 6px;
            border: 1px solid $white;
            border-radius: 4px;
            @media screen and (min-width:1025px) {
                &:hover{
                    background: $white;
                }
            }
        }
        .slick-active{
            background: $white;
            width: 30px;
        }
    }
    .slick-arrow{
        line-height: 40px;
        width: auto;
        background: none;
        color: $white;
        font-size: 20px;
        font-weight: bold;
        @media screen and (min-width:1025px) {
            &:hover{
                color: $mc1;
            }
        }
    }
    .slick-prev{
        left: 30px;
    }
    .slick-next{
        right: 30px;
    }
    @media screen and (max-width:1440px) {
        .ch{
            font-size: 40px;
        }
        .en{
            font-size: 20px;
        }
    }
    @media screen and (max-width:1366px) {
        .ch{
            font-size: 32px;
        }
        .en{
            font-size: 16px;
        }
        .txts{
            margin-bottom: 60px;
        }
    }
    @media screen and (max-width:1024px) {
        .pic2{
            position: relative;
        }
        .slick-arrow{
            display: none !important;
        }
        .slick-dots{
            bottom: 8%;
        }
        .txts{
            bottom: 50%;
            margin: 0;
            transform: translateY(50%);
        }
    }
    @media screen and (max-width:861px) {
        .ch{
            font-size: 26px;
        }
        .en{
            font-size: 12px;
        }
    }
    @media screen and (max-width:601px) {
        .ch{
            font-size: 22px;
        }
    }
    @media screen and (max-width:481px) {
        .ch{
            font-size: 20px;
        }
        .en{
            font-size: 10px;
        }
    }
}

.slick-arrow{
    font-family: "iconfont" !important;
}

.slick-prev{
    &:before{
        content: "\e660";
    }
}

.slick-next{
    &:before{
        content: "\e65f";
    }
}
