.ix-cta-wrap{
    position: relative;
    height: 100%;
    padding-top: 80px;
}

#map{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    .BMap_mask{
        background: $mco3 !important;
    }
}

.search-result{
    border: 1px solid $hc1;
    padding: 0 15px;
    li{
        padding: (66px - 24px) / 2 0;
        overflow: hidden;
        line-height: 24px;
        + li{
            border-top: 1px solid $hc1;
        }
    }
    .tii{
        float: left;
        width: 56px + 40px;
        color: $fc3;
    }
    .text{
        font-size: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    a{
        @media screen and (min-width:1025px) {
            &:not(.na):hover{
                color: $mc1;
            }
        }
    }
    @media screen and (max-width:1366px) {
        li{
            padding: 16px 0;
        }
        .tii{
            width: 76px;
        }
        .text{
            font-size: 16px;
        }
    }
}

.ic-service-network{
    padding-top: (110 / 1920) * 100%;   
    .le{
        width: 50%;
    } 
    .b{
        width: 330px;
        max-width: 100%;
    }
    .page-ti{
        color: $mc1;
        margin-bottom: 20px;
    }
    .search-result{
        margin-top: 50px;
    }
}