#map2{
    height: 648px;
    .BMap_mask{
        background: $mco3 !important;
    }
}

.service-network-wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -(420px / 2) 0 0 -600px;
    width: 400px;
    height: 420px;
    background: $white;
    padding: 35px 35px 0;
    border-radius: 10px;
    .search-result{
        margin-top: 50px;
    }
    .search-wrap{
        margin-top: 20px;
    }
}

.cta2{
    padding: 110px 0;
}

.cta-wrap{
    padding: 0 50px;
}

.cta-list{
    margin-left: -40px;
    li{
        width: 50%;
        float: left;
        padding-left: 40px;
        @media screen and (min-width:1025px) {
            &:hover{
                .icon{
                    background: $mc2;
                }
            }
        }
    }
    .icon{
        float: left;
        margin-right: 15px;
        @include c(90px);
        background: $mc1;
        line-height: 90px;
        color: $white;
        font-size: 26px;
        text-align: center;
        @include mt3;
    }
    .text{
        padding-top: 5px;
        color: $fc3;
        overflow: hidden;
        span{
            display: block;
            font-size: 20px;
            color: $fc1;
            line-height: 1.4;
            @include mt3;
        }
    }
    a{
        @media screen and (min-width:1025px) {
            &:not(.na):hover span{
                color: $mc1;
            }
        }
    }
}

.cta-ma{
    float: right;
    position: relative;
    margin-left: (65 / 1200) * 100%;
    img{
        max-width: 100%;
        vertical-align: bottom;
    }
    .ma{
        @include plr;
        top: 140px;
        padding: 0 20px;
        color: $white;
        line-height: 1.4;
    }
    .pic2{
        width: 128px;
        margin: 0 auto 12px;
    }
}

.cta3{
    .le{
        overflow: hidden;
    }
    .page-ti{
        color: $white;
    }
}