.ab-intro{
    .freeTx{
        font-size: 16px;
        margin-top: 25px;
    }
    .more{
        margin-top: 60px;
    }
    @media screen and (max-width:1366px) {
        .freeTx{
            font-size: 14px;
        }
        .more{
            margin-top: 50px;
        }
    }
    @media screen and (max-width:601px) {
        .more{
            margin-top: (50 / 600) * 100vw;
        }
    }
}

.ab2{
    position: relative;
    padding-top: 90px;
    .leader-cont{
        margin-top: 50px;
    }
    .pw{
        position: relative;
    }
    .bg{
        @include plr;
        top: 0;
        bottom: 120px;
    }
    @media screen and (max-width:1024px) {
        padding-bottom: 90px;
        .bg{
            bottom: 0;
        }
    }
    @media screen and (max-width:601px) {
        padding: (90 / 600) * 100% 0;
        .leader-cont{
            margin-top: (50 / 600) * 100%;
        }
    }
}

.leader-cont{
    position: relative;
    padding-top: 55px;
    .pic{
        width: (592 / 1200) * 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .txts{
        position: relative;
        width: (730 / 1200) * 100%;
        float: right;
        padding: 45px (65 / 1200) * 100%;
        background: $white;
    }
    .ti{
        font-size: 20px;
    }
    .freeTx{
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid $hc1;
        font-size: 16px;
    }
    @media screen and (max-width:1366px) {
        padding-top: 45px;
        .freeTx{
            font-size: 14px;
            padding-top: 20px;
            margin-top: 20px;
        }
        .ti{
            font-size: 16px;
        }
    }
    @media screen and (max-width:1024px) {
        .pic{
            width: 55%;
        }
    }
    @media screen and (max-width:861px) {
        .pic{
            width: 65%;
        }
    }
    @media screen and (max-width:641px) {
        padding-top: 0;
        .pic{
            position: relative;
            width: 100%;
        }
        .txts{
            width: 100%;
            float: none;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 25px;
        }
    }
    @media screen and (max-width:601px) {
        .txts{
            padding-top: (25 / 600) * 100%;
            padding-bottom: 7.5vw;
        }
    }
}

.ab3{
    padding-top: 90px;
    margin-top: 120px;
    .his-wrap{
        margin-top: 50px;
    }
    @media screen and (max-width:1024px) {
        margin-top: 0;
    }
    @media screen and (max-width:601px) {
        padding-top: (90 / 600) * 100%;
        .his-wrap{
            margin-top: (50 / 600) * 100vw;
        }
    }
}

.ab4{
    .cul-list{
        margin-top: 50px;
        @media screen and (max-width:601px) {
            margin-top: (50 / 600) * 100%;
        }
    }
}

.ab5{
    background: $hc3;
    .ab-ti{
        margin-bottom: 50px;
        @media screen and (max-width:601px) {
            margin-bottom: (50 / 600) * 100%;
        }
    }
}

.ab6{
    .ab-ti{
        margin-bottom: 50px;
    }
    .honor-list{
        margin-bottom: 70px - 30px;
        @media screen and (max-width:1366px) {
            margin-bottom: 70px - 20px;
        }
    }
    @media screen and (max-width:601px) {
        .ab-ti{
            margin-bottom: (50 / 600) * 100vw;
        }
        .honor-list{
            margin-bottom: (50 / 600) * 100vw;
        }
    }
}

.ab-type-list{
    li{
        margin: 0 (95 / 1200) * 100%;
        @media screen and (min-width:1025px) {
            &:hover{
                .icon{
                    transform: rotateY(180deg);
                }
            }
        }
    }
    .icon{
        line-height: 1;
        color: $mc1;
        font-size: 50px;
        @include mt3;
    }
    .name{
        margin-top: 10px;
        font-size: 20px;
    }
    @media screen and (max-width:1024px) {
        li{
            margin: 0;
            width: 25%;
        }
    }
    @media screen and (max-width:861px) {
        li{
            width: 33.33%;
        }
    }
    @media screen and (max-width:641px) {
        .icon{
            font-size: 40px;
        }
        .name{
            font-size: 16px;
        }
    }
    @media screen and (max-width:481px) {
        .icon{
            font-size: 32px;
        }
        .name{
            font-size: 12px;
        }
    }
}

.ab7{
    .ab-type-list{
        margin-top: 70px;
        @media screen and (max-width:601px) {
            margin-top: (70 / 600) * 100vw;
        }
    }
}

.ab8{
    background: $hc3;
}

.abx-list{
    .pic{
        width: (532 / 1200) * 100%;
        float: left;
        margin-right: (70 / 1200) * 100%;
    }
    li{
        padding: 90px 0;
        &:nth-child(2n){
            background: $white;
            .pic{
                float: right;
                margin-left: (70 / 1200) * 100%;
            }
        }
    }
    @media screen and (max-width:861px) {
        .pic{
            display: none;
        }
    }
    @media screen and (max-width:601px) {
        li{
            padding: (90 / 600) * 100vw 0;
        }
    }
    @media screen and (max-width:481px) {
        .pic{
            display: block;
            width: 100%;
            float: none !important;
            margin: 0 0 20px 0 !important;
        }
    }
}